<div class="page-header">
  <%= image_tag("book_review.jpg", :alt => "book_review placeholder", :class => "img-circle") %>
  <h1 class="text-right"><%= current_user.username %></h1>
</div>
<div class="page-header">
<h2> Recommendations.</h2>
<p> Based on books you've read..</p>
</div>

<div class="page-header">
<h2> Books I've read.</h2>	
</div>

<a class="bottn" href="#">Review A Book</a>