
<div id="wrapper">
      <div id="mainimage">
        <img src="images/teenagers reading.jpg" alt="Reading">
      </div>
    </div>
      <section>
        <div id="recommendations"> Top Recommendations
          <ul>
            <img src="book1???">
            <li>Book recommendation</li>
            <li>Book score</li>
          </ul>

        </div>

        <div id="popularlists"> Most popular lists
          <ul>
            <img src="listbook???">
            <li>List name</li>
            <li>other info</li>
          </ul>
        </div>
        <div id="topreaders">Top Readers
          <ul>
            <li>Reader 1</li>
            <li>Reader 2</li>
            <li>Reader 3</li>
          </ul>
        </div>
      </section>
      </div>





