<h1> About Get Jersey Reading </h1>

<div class="about-content">
<h2>The site that does what it says on the cover!</h2>
<p>
Whether you like reading chick lit or literary classics, books have something for everyone.

</p>
<p>
We have created the 'Get Jersey Reading' website to encourage you to pick up a book you might not have thought to read and let others know what you think of it.
</p>
<p>
It's easy to sign up and get started. Simply fill in your email and password details, let us know your age and then choose a book. The more books you read and rate, the better our website will be at suggesting other books you might also enjoy.
</p>

<p>
So what are you waiting for? If you can't think of where to get started then take a look at some of our suggested reading lists.
</p>
<p>
Happy Reading
</p>
<p>Jersey Library in association with the Jersey Festival of Words </p>


<div class="jerseylibrary">
<h2>Jersey Library</h2>
<p>Jersey Library offers a range of materials for borrowing, including books, audio CDs and cassettes, DVDs and music scores. It's free to borrow from the library and everyone can apply to <a href="http://www.gov.je/Leisure/Libraries/Pages/Joining.aspx">join.</a></p>
<p>
There is a free online reservation and renewal service and you can even download magazines.</p>
<p>There are two libraries, the main branch is in St Helier, Halkett Place and there is also a branch at Les Quennevais.</p>
<p>You can find out opening times <a href="http://www.gov.je/Leisure/Libraries/Pages/OpenHours.aspx">here.</a></p>
<p>It is easy to search the <a href="http://capitadiscovery.co.uk/jersey/">library catalogue</a>to see if the book you want is in, and if not, to reserve it.</p>

</div>

<div class="aboutfestival">
<h2>Jersey Festival of Words</h2>
<p>Connections: The Jersey Festival of Words is a five-day literary event aimed at promoting a love of the written and spoken word across the island. The Festival will feature over 20 internationally renowned writers, 30 local writers and poets, a schools programme, writing workshops, competitions and much more.</p>
<p>It is taking place September 30th to October 4th 2015. You can download a full <a href="http://www.jerseyfestivalofwords.org/programme/">timetable</a></p>

</div>

</div>