<div class="about-content">

	<h1> Get Jersey Reading:  Read – Review – Recommend – Repeat </h1>

	<%= image_tag("readingaloud.jpg", class: "aboutpic") %>

	<p>
	Get Jersey Reading will help you navigate the books up for discussion at the Festival of Words 2015.  Use the website to review books that you’ve loved and get recommendations for your next great read.
	</p>

 	<p>
		It’s easy to sign up and get started. Simply fill in your email and password details, let us know your age and then choose a book. The more books you read and rate, the better our website will be at suggesting other books you might also enjoy.
	</p>
	<p>
		Use the suggested reading lists to explore new genres or browse the book scores to pick up suggestions for what’s unputdownable.
	</p>
	<p>
		Take the challenge of Get Jersey Reading to the next level with The Six Book Challenge.
		Sign up for free at the Town or Les Quennevais Branch libraries and choose six reads, review them and enter national prize draws.
	</p>
	<p>

		Happy reading!
	</p>

	<h2>Jersey Library</h2>
	<p>
		Discover the world from the depths of your armchair with Jersey Library.  Whether you’re a lover of chick lit, a manga monster or a literary connoisseur, there is a book for everyone on the shelves of the Library.  Navigate the catalogue of 250,000 items held in the Town, Branch and Mobile libraries on  <a href="http://capitadiscovery.co.uk/jersey/">the Jersey Library Online Catalogue</a>.
	</p>
	<p>
		<a href="http://www.gov.je/Leisure/Libraries/Pages/OpenHours.aspx">Opening hours</a> need no longer keep the book lover from their books.  Jersey Library’s digital branch is constantly growing and <a href="http://jerseylibrary.lib.overdrive.com/134FAB27-7A2F-46FA-AF9E-6886B398F569/10/45/en/Default.htm">ebooks</a>, <a href="http://www.rbdigital.com/Jersey/service/zinio/landing?">magazines</a> and <a href="http://jersey.oneclickdigital.eu/">audio books</a>  can all now be downloaded from the <a href="http://www.gov.je/library">Jersey Library’s website </a> 24/7.  You can also reserve books and renew loans online.
	</p>

	<p>
		It’s free to <a href="  http://www.gov.je/Leisure/Libraries/Pages/Joining.aspx">join</a>  and use Jersey Library.  Just bring proof of identity (eg credit card or passport) and an official document that shows your address in Jersey (eg bank statement or a letter from your employer) to any of the libraries to register and get a Jersey Library card.  If you are under 18 you need to get your form signed by a parent or guardian.
	</p>

	<h2>Jersey Festival of Words</h2>
	<p>Connections: The Jersey Festival of Words is a five-day literary event aimed at promoting a love of the written and spoken word across the island. The Festival will feature over 20 internationally renowned writers, 30 local writers and poets, a schools programme, writing workshops, competitions and much more.</p>

	<p>It is taking place September 30th to October 4th 2015. You can <a href="http://www.jerseyfestivalofwords.org/wp-content/uploads/Jersey-Festival-of-Words-Timetable-INTER.pdf">download a full timetable</a></p>

</div>

