
body {
	font-family: 'Open Sans', sans-serif;
}


.owl-wrapper-outer {
	height:25vw;

	img {
		width: 100%;
	}

}

.ie .owl-wrapper-outer {
	height: 350px;
}


#recommendations  {
	float: left;
	max-width: 60%;
	margin: 2.5%;
	background-color: #DECA9F;


}

#recommendations ul {
	list-style: none;

}


#popularlists
  {
	float: left;
	max-width: 60%;
	margin: 2.5%;
	background-color: #DECA9F

}


#popularlists ul {
	list-style: none;

}



#topreaders  {
	float: left;
	max-width: 60%;
	margin: 2.5%;
	background-color: #DECA9F

}

#topreaders ul {
	list-style: none;

}

.twitter-feed {
	width: 300px;
	height: 600px;
	display: none;

	@include breakpoint(large) {
		display: block;
		float: right;
		margin-left: 30px;
	}

}

.twitter-feed-mobile {
	width:100%;

	@include breakpoint(small) {
		margin: 0 auto;
		width: 50%;
	}

	@include breakpoint(large) {
		display:none;
	}

}

.ie .twitter-feed {
	display: block;
	float: right;
	margin-left: 30px;
}	



