// Place all the styles related to the books_tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-tag {
	background: #FECA08;
				border-style: none;
			border-radius: 2px;
}
.remove-tag {
	background: #ED1C24;
				border-style: none;
			border-radius: 2px;
}

.tag-container {
	
    float: left;
    display: inline-block;
    padding: 10px;
    width: 33.3%;

	.tags {
		text-align: center;	

		form {
			display: inline-block;
		}

		input {
			height: 30px;
			font-size: 1em;
			text-align: center;	
			margin: 2px;
			padding: 3px;
		}
	}		

}