/***************************************
HEADER
*****************************************/

.main-header {
  background: orange;

  .content-wrap {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    float: left;
  }

  .logo img {
    height: 40px;
    
    @include breakpoint(small) {
      height: 85px;
    }
  }
}

.ie .main-header {

  .logo img {
    height: 85px;
  }
}

.nav {
  display: block ;
  width:100%;
}

/****************************************
SEARCH
*****************************************/

.search-box {
  height: 40px;
  float: right;
  display: none;
  padding-right: 15px;

  
  @include breakpoint(medium) {
    display: inline-block;
  }
}

.search-container {
  overflow: hidden;
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

  input#search{
    width: 45px;
    height: 50px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    float: right;
    color: #63717f;
    padding-right: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000000;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  
  
  input#search::-webkit-input-placeholder {
    color: #65737e;
  }
 
  input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
  }
 
  input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
  }
 
  input#search:-ms-input-placeholder {  
    color: #65737e;  
  }

  .icon{
    position: absolute;
    top: 10%;
    margin-left: 175px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
    }

  input#search:focus, input#search:active{
    outline:none;
    width: 200px;
  }
   
  :hover input#search{
  width: 200px;
  }
   
  :hover .icon{
    color: #93a2ad;
  }
  
}



/****************************************
NAVIGATION
*****************************************/
.nav span {
  display:block;
  vertical-align:middle;
  float: right;
  line-height: 40px;
  padding-right: 15px;
  right: 10px;


  @include breakpoint(small) {
    line-height: 85px;
  }
}

#menu {
  display: block;
  float: right;
  text-align: right;
  font-size: 30px;
  color: #ED1C24;
  


  @include breakpoint(small) {
    font-size: 50px;
  }

  @include breakpoint(medium) {
    display: none;
  }
}

#nav.js {
  display: none;
  padding-top: 0px;

  @include breakpoint(medium) {
    display: inline-block;
  }
}

.nav {

  width: auto;

  @include breakpoint(medium) {
    width: 764px;
    float: right;
  }


  ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
    float: left;

    @include breakpoint(medium) {
      float: right;
    }



    
    li {
      line-height: 1;
      text-decoration: none;
      font-size: 17px;
      display: block;
      float: none;

      @include breakpoint(medium) {
        float: right;
      }

      a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
        color: #ED1C24;
        text-decoration: none;
        display: block;
        padding: 15px 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        -webkit-transition: color .25s;
        -moz-transition: color .25s;
        -ms-transition: color .25s;
        -o-transition: color .25s;
        transition: color .25s;

      }

      a:hover {
        color: #333333;
      }

      a:hover:before {
        width: 100%;
      }

      li a:after {
        content: "";
        display: block;
        position: absolute;
        right: -3px;
        top: 19px;
        height: 6px;
        width: 6px;
        background: #ffffff;
        opacity: .5;
      }

      li a:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background: #333333;
        -webkit-transition: width .25s;
        -moz-transition: width .25s;
        -ms-transition: width .25s;
        -o-transition: width .25s;
        transition: width .25s;
      }


    
      @include breakpoint(medium) {
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0;
      }

    }

    @include breakpoint(medium) {
      float: right;
      width: auto;
    }


  }

}

.ie .nav ul li {
  display: inline;
}


/* NAV Media Query */

.nav select {
  display:none;
}

