/***************************************
HEADER
*****************************************/

.main-header {
  background: orange;

  .content-wrap {
    padding: 20px 30px;
  }

  .logo {
    float: left;
  }

  .logo img {
    height: 40px;
    display: block;
    
    @include breakpoint(small) {
      height: 85px;
    }
  }
}

.ie .main-header {

  .logo img {
    height: 85px;
  }
}

/****************************************
NAVIGATION
*****************************************/
.nav span {
  display:block;
  vertical-align:middle;
  float: right;
  line-height: 40px;
  padding-right: 15px;
  right: 10px;


  @include breakpoint(small) {
    line-height: 85px;
  }
}

#menu {
  display: block;
  float: right;
  text-align: right;
  font-size: 30px;
  color: #ED1C24;
  


  @include breakpoint(small) {
    font-size: 50px;
  }

  @include breakpoint(medium) {
    display: none;
  }
}

#nav.js {
  display: none;

  @include breakpoint(medium) {
    display: inline-block;
  }
}

.nav {

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    
    li {
      line-height: 1;
      text-decoration: none;
      font-size: 17px;
      display: block;
      text-align: right;


    
      @include breakpoint(medium) {
        display: inline-block;
        padding: 30px 15px;
        float: left;
      }

    }

    @include breakpoint(medium) {
      float: right;
      width: auto;
    }


  }

}

.ie .nav ul {
  li {
    display: inline;
  }
  .search {
    margin: 0;
    padding: 0;
  }

}


/* NAV Media Query */

.nav select {
  display:none;
}

