.readinglist_container{
	width: 800px;
	margin: 0 auto;
}

.readinglist-container{
	display: inline-block;
	margin: 40px 20px 30px 0;
}

.readinglist_cover{
	margin: 0 auto;
	float: left;
}

.readinglist_cover img{
	width: 250px;
	height: 150px;
}

.readinglist_title{
	margin: 10px;
	width: 120px;
  height: 300px;

}

