

.abouthead
{
	margin: 30px;
	max-width: 100%;
	padding: 30px 100px 0px 100px;
	
}

.aboutpic
{
	float: right;
	max-width: 40%;
	padding: 10px 0;
}

.about-content
{
	max-width: 100%;
	padding: 10;
	height: 1500px;
	margin: 10px 100px 50px 100px;
	float: left;

}

.aboutintro
{
	padding: 0px 100px 0 100px;
	
	max-width: 55%;
	float: left;
	
}

a {
	text-decoration: none;
}

.about-content p 
{
	line-height: 1.5;
	margin: 0 0 10px;
	
}

.jerseylibrary
{
	padding: 50px 100px 50px 100px;
	max-width: 55%;
	float: left;
	
	
}

.aboutfestival
{
	padding: 0 100px 50px 100px;
	max-width: 55%;
	float: left;
	
	
}

