/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
*/

// @import "wice_grid";
// @import "font-awesome-sprockets";
// @import "font-awesome";

@import 'mixins';
@import 'about';
@import 'admin_view';
@import 'books';
@import 'books_tags';
@import 'forms';
@import 'main_header';
@import 'readinglist';
@import 'style';

 /*************************
GENERAL
************************/
*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;

}

/****
a:link_to {
	color: blue;
	text-decoration: none;
}
****/

.group:after {
  display: table;
  content: "";
  clear: both;
}

.yield {
  padding-bottom: 85px;

  .content-wrap {
  	padding: 15px;
  	@include breakpoint(medium) {
			padding: 30px;
  	}
  }
}

.ie .yield .content-wrap {
  padding: 30px;
}

.content-wrap {
	width: 100%;
	@extend .group;

	@include breakpoint(large) {
		width: 1200px;
		margin: 0 auto;
	}

}

.ie .content-wrap {
  width: 1200px;
  margin: 0 auto;
}








/****************************************
FOOTER
*****************************************/


/*footer {
	font-size: 0.75em;
	display: inline-block;
	clear: both;
	padding-top: 10px;
	color: #FF8730;

}*/

footer .span {
	content: '\f202';
}



/*********************
FOOTER
**********************/
footer  {
	font-size: 0.75em;
	bottom: 0;
	height: 65px;
	width: 100%;
	border-top: 4px solid #B60011;
	text-align: center;
	color: #B60011;
	position: fixed;
	background-color: #fff;

}


.socials
{
	float: left;
	max-width: 30%;
	display: inline-block;
}


.socials img
{
	width: 45px;
	height: 45px;
	float: left;
	margin: 5px;
	padding: 5px;
	display: inline-block;

}

.copyr
{
	float: right;
	padding: 10px;
	margin: 5px;
	display: inline-block;
}

.ie .copyr {
  font-size: 10px;
}



.footerlogo
{
	float: center;
	size: 30%;
	display: inline-block;
}

/****************************************
COLORS
*****************************************/




/***********a {
	color: FF8730;
}
*********/


nav a, nav a:visited {
	color: #FF8730;
}

nav a.selected, nav a:hover {
	color: #E84820;
}

/*site body*/
body {
	background-color: #F2F1F3;
	color: #303554;
}


.group {
  // padding: 0 30px;
  // background-color: orange;
}



