/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*************************
GENERAL
************************/
*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	
}

/****
a:link_to {
	color: blue;
	text-decoration: none;
}
****/

.group:after {
  display: table;
  content: "";
  clear: both;
}
 


/***************************
HEADING
*****************************/



.logo {

	float: left;
	margin: 0 0 auto;
	max-width: 50%;
	width: 100%;
	height: 110px;
	padding: 15px 0 0px;
	position: relative;
}

.logo img {
	max-height: 100%;
	max-width:	100%;
}

.group {
	
  height: 130px;
  border-bottom: 3px solid #B60011;
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
	
}


/****************************************
NAVIGATION
*****************************************/
/***
.main_navbar
{
	height: 100px;
	left: 30px;
	top: 20px;

}
**/

li {
	text-decoration: none;
	padding: 45px 15px;
	list-style: none;
	display: inline-block;
	font-size: 20px;
}

.nav 
{
	/*position: relative;
	display: inline-block;*/
	float: right;
	max-width: 50%;
	height: 100px; 
	
}



/****************************************
FOOTER
*****************************************/


/*footer {
	font-size: 0.75em;
	display: inline-block;
	clear: both;
	padding-top: 10px;
	color: #FF8730;

}*/

footer .span {
	content: '\f202';
}



/*********************
FOOTER
**********************/
footer  {
	font-size: 0.75em;
	bottom: 0;
	height: 65px;
	width: 100%;
	border-top: 4px solid #B60011;
	text-align: center;
	color: #B60011;
	position: fixed;
	background-color: #fff;
	
}


.socials 
{
	float: left;
	max-width: 30%;
	display: inline-block;
}


.socials img
{
	width: 45px;
	height: 45px;
	float: left;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	
}

.copyr
{
	float: right;
	padding: 10px;
	margin: 5px;
	display: inline-block;
}



.footerlogo
{
	float: center;
	size: 30%;
	display: inline-block;
}

/****************************************
COLORS
*****************************************/




/***********a {
	color: FF8730;
}
*********/


nav a, nav a:visited {
	color: #FF8730;
}

nav a.selected, nav a:hover {
	color: #E84820;
}

/*site body*/
body {
	background-color: white;
	color: #303554;
}


.group {	
  padding: 0 30px;
  background-color: orange;
}



/****************************************
SOCIAL MEDIA TAG COLORS
*****************************************/

.social {
	display: inline-block;
	width: 100%
}

/* Facebook */
.fa-facebook-square {
    color: #3b5998;

}

/* Twitter */
.fa-twitter-square {
    color: #00a0d1;
}

/* Tumblr */
.fa-tumblr-square {
    color: #34526f;
}

.social .fa {
	float: left;
	padding-left: 0.2em;
	padding-right: 0.2em;

}

.clear { clear: both; height: 65px; }
