/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require avatars_for_rails
 *= require_tree .
 *= require_self
 */

 /*************************
GENERAL
************************/


body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	
}

/***************************
HEADING
*****************************/

#logo {
	text-align: left;
	margin: 0;
	
}

h1 {
	font-family: 'Raleway', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 2.8em;
}



/****************************************
NAVIGATION
*****************************************/


nav {
	text-align: center;
	padding: 10px;
	margin: 20px 0 0;
	font-size: 0.75em;
	list-style: none;

}



/****************************************
FOOTER
*****************************************/


/*footer {
	font-size: 0.75em;
	display: inline-block;
	clear: both;
	padding-top: 10px;
	color: #FF8730;

}*/

footer .span {
	content: '\f202';
}


/****************************************
COLORS
*****************************************/


#logo {
	color: #E84820;
}



a {
	color: FF8730;
}

nav a, nav a:visited {
	color: #FF8730;
}

nav a.selected, nav a:hover {
	color: #E84820;
}

/*site body*/
body {
	background-color: white;
	color: #303554;
}
