
body {
	font-family: 'Open Sans', sans-serif;
}



.wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 5%;

}

#hero-carousel .hero-img img {
	display: block;
	max-width: 100%;
	height: 300px;
	margin: 0 auto;
	overflow: hidden
}


#recommendations  {
	float: left;
	max-width: 60%;
	margin: 2.5%;
	background-color: #DECA9F;
	

}

#recommendations ul {
	list-style: none;

}


#popularlists
  {
	float: left;
	max-width: 60%;
	margin: 2.5%;
	background-color: #DECA9F

}


#popularlists ul {
	list-style: none;

}



#topreaders  {
	float: left;
	max-width: 60%;
	margin: 2.5%;
	background-color: #DECA9F

}

#topreaders ul {
	list-style: none;

}

.twitter-feed 
{
	max-width: 25%;
	height: 600px;
	float: right;
	margin-right:auto;
	margin-left: auto;	
	padding: 30px 20px 0 0;
}


