* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', "Arial", sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

header {
	
  padding: 0 30px;
  height: 100px;
  background-color: #B60011;
  border-bottom: 1px solid #000;
  color: #fff;

}
.recommend {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

.page-header h1 , p {
  line-height: 1;
}

.nav {
	float: right;
	
}
.temp_logo{

	float: left;
	margin-top: 10px;
	width: 280px;
	
}
a {
	text-decoration: none;
}

li {
	text-align: center;
	padding: 0 10px;
	list-style: none;
	display: inline;
	line-height: 100px
}
.bottn {
	border-radius: 5px;
	padding: 10px;
	color: #FFF;
	background-color: #A6CB27;
}

.content {
	width: 900px;
	margin: 0 auto;
}
.img-circle {
	width: 50px;
	height: 50px;
	border-radius: 30px; 
}
.row {
  margin-left: -20px;
  *zoom: 1;
  margin: 0 auto;
}

.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}
.text-right{
	float: ;
}

footer {
	padding: 0 30px;
	background-color: #B60011;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #7D7D7D;
	text-align: center;
	color: #fff;
}

footer {
	position: fixed;
}
