* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', "Arial", sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

header {
	
  padding: 0 30px;
  height: 100px;
  background-color: #B60011;
  border-bottom: 1px solid #000;
  color: #fff;

}
.nav {
	float: right;
	
}
.temp_logo{

	float: left;
	margin-top: 10px;
	width: 280px;
	
}
a {
	text-decoration: none;
}

li {
	text-decoration: none;
	text-align: center;
	padding: 0 10px;
	list-style: none;
	display: inline;
	line-height: 100px
}

.content {
	width: 900px;
	margin: 0 auto;
}


/*--------------------------------------Show Book Details---------------------------------------*/

.cover {
	margin: 30px 30px 0 0;
	width: 300px;
	float: left;
}

.cover-image {
	width: 300px;
	border-radius: 5px;
}

.book-info {
	margin: 30px 0 0 0;
	float: left;
	width: 550px;
}

.book-title {
	margin: 30px 0 0 0;
}

.book-description {
	margin: 30px 0 30px 0;
}

.book-link {
	margin: 30px 0 30px 0;
}

.book-link :hover{
	background: grey;
}

.book-link a {
	width: 80px;
	margin: 0 30px 0 0;
	padding: 0 10px 0 10px;
	color: white;
	background: red;
	border-radius: 5px;
}

.review {
	margin: 10px 10px 10px 0;
}

.review h3{
	margin: 40px 30px 30px 0;
}

.review a {
	margin: 30px;
	padding: 0 10px 0 10px;
	background-color: lightblue;
	border-radius: 8px;
	border: 2px solid blue;
}

/*-------------------------footer------------------------*/

footer {
	padding: 0 30px;
	background-color: #B60011;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #7D7D7D;
	text-align: center;
	color: #fff;
}

footer {
	position: fixed;
}
