<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
		<title>Get Jersey Reading</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans|Raleway:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<%= stylesheet_link_tag 	'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

		<body>
		<header>
		<a href="index.html" id="logo">
			<h1> Get Jersey Reading</h1>
		</a>
		<nav>
			<select id="select">
  				<option value="index"><a href="index.html" class="selected">Home</a></option>
				  <option value="mypage"><a href="mypage.html">My Page</a></option>
				   <option value="booklists"><a href="booklists.html">Book Lists</a></option>
				    <option value="about"><a href="about.html">About</a></option>
				  
			</select>


				<li><a href="index.html" class="selected">Home</a></li>
				<li><a href="mypage.html">My Page</a></li>
				<li><a href="Book Lists">Book Lists</a></li>
				<li><a href="About">About</a></li>
				


			</ul>
		</header>





				<%= yield %>


			<footer>
				<img src="twitter-bird-light-bgs.eps" alt="Twitter Logo">
				<img src="img/facebook.png" alt="Facebook Logo">
				<p>&copy; 2015 Jersey Library</p>
			</footer>

</body>
</html>
